movietime/force-app/main/default/flows/New_Restaurant.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <dynamicChoiceSets>
        <name>ChosenBy</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Chosen_By__c</picklistField>
        <picklistObject>Meal__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ComingBack</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Are_we_coming_back__c</picklistField>
        <picklistObject>Restaurant__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DiningType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Dining_Type__c</picklistField>
        <picklistObject>Meal__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>New Restaurant {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Restaurant</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Meal</name>
        <label>Create Meal</label>
        <locationX>446</locationX>
        <locationY>161</locationY>
        <inputAssignments>
            <field>Baby_Harimau_Order__c</field>
            <value>
                <elementReference>Baby_Harimau_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Baby_Harimau_Rating__c</field>
            <value>
                <elementReference>Baby_Harimau_Meal_Rating</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Chosen_By__c</field>
            <value>
                <elementReference>Chosen_By</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dining_Type__c</field>
            <value>
                <elementReference>Dining_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Harimau_Order__c</field>
            <value>
                <elementReference>Harimau_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Harimau_Rating__c</field>
            <value>
                <elementReference>Harimau_Meal_Rating</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Restaurant__c</field>
            <value>
                <elementReference>RestaurantId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tip__c</field>
            <value>
                <elementReference>Tip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total__c</field>
            <value>
                <elementReference>Total</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visited_Date__c</field>
            <value>
                <elementReference>Visited_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Meal__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Restaurant</name>
        <label>Create Restaurant</label>
        <locationX>249</locationX>
        <locationY>161</locationY>
        <assignRecordIdToReference>RestaurantId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Meal</targetReference>
        </connector>
        <inputAssignments>
            <field>Are_we_coming_back__c</field>
            <value>
                <elementReference>Are_we_coming_back</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Baby_Harimau_Rating__c</field>
            <value>
                <elementReference>Baby_Harimau_Rating</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Harimau_Rating__c</field>
            <value>
                <elementReference>Harimau_Rating</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Restaurant</elementReference>
            </value>
        </inputAssignments>
        <object>Restaurant__c</object>
    </recordCreates>
    <screens>
        <name>New_Meal</name>
        <label>New Meal</label>
        <locationX>69</locationX>
        <locationY>161</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Restaurant</targetReference>
        </connector>
        <fields>
            <name>Restaurant</name>
            <dataType>String</dataType>
            <fieldText>Restaurant</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Location</name>
            <dataType>String</dataType>
            <fieldText>Location</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Are_we_coming_back</name>
            <choiceReferences>ComingBack</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are we coming back?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Harimau_Rating</name>
            <dataType>Number</dataType>
            <fieldText>Harimau Rating</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Baby_Harimau_Rating</name>
            <dataType>Number</dataType>
            <fieldText>Baby Harimau Rating</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Harimau_Order</name>
            <dataType>String</dataType>
            <fieldText>Harimau Order</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Baby_Harimau_Order</name>
            <dataType>String</dataType>
            <fieldText>Baby Harimau Order</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Harimau_Meal_Rating</name>
            <dataType>Number</dataType>
            <fieldText>Harimau Meal Rating</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Baby_Harimau_Meal_Rating</name>
            <dataType>Number</dataType>
            <fieldText>Baby Harimau Meal Rating</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Chosen_By</name>
            <choiceReferences>ChosenBy</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Chosen By</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Dining_Type</name>
            <choiceReferences>DiningType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Dining Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Visited_Date</name>
            <dataType>Date</dataType>
            <fieldText>Visited Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Total</name>
            <dataType>Currency</dataType>
            <fieldText>Total</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Tip</name>
            <dataType>Currency</dataType>
            <fieldText>Tip</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>New_Meal</startElementReference>
    <status>Draft</status>
    <variables>
        <name>RestaurantId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
